@font-face{
  font-family: "Escolar";
  src: url("../fonts/Instant\ Harmony\ DEMO.otf") format("truetype");
}
#fuente{
    font-family: "Escolar";
}
.fuente{
  font-family: "Escolar";
}
.carousel-inner img {
  width: 70%;
  height: 70%;
}
.customizado :hover{
  background-color: rgba(169, 169, 169, 0.726);
}

.botonamarillo :hover{
  background-color: rgba(245, 223, 20, 0.774);
}

#options1 :hover{
  background-color: rgb(66, 137, 243) !important;
}

#options2 :hover{
  background-color: rgb(2, 202, 202) !important;
}

.titulox{
    font-size: 8vh;
}

@media (max-width: 520px) {
  .titulox { 
    font-size: 32px;
    padding-top: 5%;
    padding-bottom:1%; 
  }
}

#sidebarcito{
  width: 22%;
}

@media (max-width: 520px) {
  #sidebarcito { 
    width: 30%;
  }
}

#login{
  padding-top: 2%;
}

@media (max-width: 1010px) {
  #login { 
    padding: 10%;
  }
}

#option{
  padding-top: 2%;
}

@media (max-width: 1010px) {
  #option { 
    padding: 10%;
  }
}

#recovery{
  padding-top: 2%;
}

@media (max-width: 1010px) {
  #recovery { 
    padding: 10%;
  }
}

#register{
	padding-top: 0;
}

@media(max-width: 1010px){
	#register{
		padding: 10%;
	}
}

.fuente_reg{
  font-size: 28px;
}

@media (max-width: 520px) {
  .fuente_reg { 
    font-size: 20px;
  }
}

.botones{

}

@media (max-width: 520px) {
  .botones { 
    padding: 0.25rem 0.5rem;
    font-size: 0.688rem;
    line-height: 1.5;
    border-radius: 1rem;
    margin: 2%;
  }
}

@media (max-width: 800px) {
  .margencitox {
    margin: 1%;
  }
}

#margen{
  padding-top: 2%;
}

@media (max-width: 520px) {
  #margen { 
    padding-top: 0%;
  }
}

.nav_fuente{
  font-size: 3vh;
}

.otra_fuente{
  font-size: 4vh !important;
}

@media (max-width: 520px) {
  .otra_fuente { 
    font-size: 2vh !important;
  }
}

.nav-link:hover {
  color: #f1f1f1;
}
.negra{
  color:black;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fc0404;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#navprincipal{
  background-color: rgb(255, 214, 80);
}
i{
  padding: 0.5%;
}


  
/*
  Sidebar de mi perfil
*/
body {
  margin: 0;
  font-family: "Escolar", sans-serif;
}
.sidebar {
  height: 100%;
  width: 160px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.sidebar a:hover {
  color:rgba(169, 169, 169, 0.726);
}



@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}